.mangaCard img {
    aspect-ratio: 1/1.5;
}

.mangaCard.hover .mangaName {
    opacity: 0;
    transition: opacity .2s ease;
}

.mangaCard.hover:hover .mangaName {
    opacity: 1;
}

.mangaName {
    overflow-wrap: anywhere;
}