div.chapterList {
    background: #f1f1f1;
}

div.chapterList > div {
    background: #fff;
    border: 1px solid #88888896;
}

@media (min-width: 992.02px) {
    div.infoPage {
        height: 92vh;
    }
    
    div.mangaInfo {
        height: 40%;
        position: absolute;
        bottom: 0;
        padding: 0 16px 16px 16px;
    }
    
    div.chapterList {
        position: relative;
    }
    
    div.chapterList > div {
        height: 100%;
        position: absolute;
        overflow: auto;
    }
}