/* div.infoPage > div.mangaCover {
    background: linear-gradient(180deg, var(--bs-black) 0%, var(--bs-black) 56%, var(--bs-white) 65%, var(--bs-white) 100%);
} */

div.chapterList {
    background: #f1f1f1;
}

div.chapterList > div {
    background: #fff;
    border: 1px solid #88888896;
}

@media (min-width: 992.02px) {
    div.infoPage {
        min-height: 92vh;
    }

    /* div.infoPage > div.mangaCover {
        background: linear-gradient(180deg, var(--bs-black) 0%, var(--bs-black) 65%, var(--bs-white) 75%, var(--bs-white) 100%);
    } */
    
    div.chapterList {
        position: relative;
    }
    
    div.chapterList > div {
        height: 100%;
        position: absolute;
        overflow: auto;
    }
}